# Configuration de la base de données de test
DB_USERNAME=root
DB_PASSWORD=root 
DB_DATABASE=trinity_test
DB_HOST=127.0.0.1
DB_DIALECT=mysql

# Configuration du serveur
PORT=3000
NODE_ENV=test

# Configuration JWT
JWT_SECRET_KEY=test_secret_key_for_testing

# Autres configurations nécessaires pour les tests
LOG_LEVEL=error 